Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-1-130021403789"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDeDCCAmACCQDK8s7TBdlwgzANBgkqhkiG9w0BAQUFADB+MQswCQYDVQQGEwJV
      UzELMAkGA1UECBMCVkExETAPBgNVBAcTCFJpY2htb25kMRQwEgYDVQQKEwtDaWdh
      cnJhMzMxMDEUMBIGA1UEAxMLQ2lnYXJyYTMzMTAxIzAhBgkqhkiG9w0BCQEWFGNp
      Z2FyYTMzMTBAZ21haWwuY29tMB4XDTE4MDQyOTE2MjIzM1oXDTE5MDQyOTE2MjIz
      M1owfjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAlZBMREwDwYDVQQHEwhSaWNobW9u
      ZDEUMBIGA1UEChMLQ2lnYXJyYTMzMTAxFDASBgNVBAMTC0NpZ2FycmEzMzEwMSMw
      IQYJKoZIhvcNAQkBFhRjaWdhcmEzMzEwQGdtYWlsLmNvbTCCASIwDQYJKoZIhvcN
      AQEBBQADggEPADCCAQoCggEBALa/Cp6MrQ79tJOxpnm1oNI1K/kGdJIecq4x0hfE
      MNxSb7VFO1kRAJng5yJubA+JXhr8x90l6YhZPh9YRLNWY+ykR6Ja7fq9hhp6ItEa
      LdIZmoyjssGCVk7g4WfkinmZw4Hi01qTTaoyp2FJfWRTEBcd81btaamqC25ljxA/
      VPjpYa0V2DyuREbmq6pmVNr6t2c1AjNWaqO1VSYudhB7TxLbUiFwyaHXIEkORm1+
      xCvGEGYy7JNtMNz5OEfJgK3NwidZ3B00fPgnB4o0UtXqcz9ItV5kiTylyrEUE9Fl
      ZoS8xYYl1iPsQ/7I3HdUOoASCjKk0vPSd6CVyrRzulqCa3cCAwEAATANBgkqhkiG
      9w0BAQUFAAOCAQEAHq5tyUW3qt1B9Uts3DJTJFPQUhsAtWLXXaJVGOc516tOCqiO
      BD9zk0U7c4j+SbBx8ChA4HH3Mpwm4gfvVOwTujcgmLt7l8q8z5WlhEZJPooeaSPC
      YKc6BEeQsiqtoEwUXaLw05WQYgCkKuEt3DhKgrwy9BaBenetJoBEanE+wq+w28od
      omf7pVarzkZUk7KrK/kCrMdoEQbWfyismiELxDxarOa1hBFxNlrXa7/41EfqdATN
      Pyk30QPKZgxUA563FKoZ+RV/A9TmcCqXC2b9UKbcw7L4kzzSlm7eTQM9KI4m4Ks4
      dwS9ZixSB0r3id9m+iiEdj58mtfPTnFwBiVUvQ==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-130021403789/server.key