@(message: String)
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Cigarra3310</title>
    </head>
    <body>
        <div class="h-100 row align-items-center">
            <div class="container text-center">
                <h3>@message</h3>
            </div>
        </div>

    </body>
</html>